* {
	border: none;
	min-height: 10px;
}

body {
	background: black;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
	padding: 10px;
}
.postcard-header h1 {
	width: 100%;
	margin: 0px;
}
.postcard-body {
	display: flex;
}
.no-margin {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: 1px grey solid;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: ghostwhite;
	padding: 10px;
}

.postcard-header h1 {
	padding: 10px;
}
body {
	text-align: justify;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
